<!-- query.html -->
<html> 
<head> 
	<title>Query</title> 
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.0/dist/js.cookie.min.js"></script> 
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script> 
	<script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"> 
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous"> 
	<style>
		#tab-container {display: flex; border-bottom: 1px solid #ccc;}
		.tab { flex: 1; text-align: center; cursor: pointer; padding: 10px; border: 1px solid #ccc; border-bottom: none; }
  		.tab.active { background-color: #f0f0f0; }
		.content { display: none; padding: 20px; border: 1px solid #ccc; border-top: none; }
		.content.active { display: block; }
		/* .subContent { display: none; padding: 20px; border: 1px solid #ccc; border-top: none; }
		.subContent.active { display: block; } */
		.sub-content {
			padding: 10px 20px;           /* 패딩: 위아래 10px, 좌우 20px */
			background-color: #4CAF50;    /* 배경색: 진한 녹색 */
			color: white;                 /* 텍스트 색상: 흰색 */
			border: none;                 /* 테두리 없음 */
			border-radius: 5px;           /* 테두리 둥글게 */
			font-size: 16px;              /* 글꼴 크기 */
			cursor: pointer;              /* 커서 모양을 손가락 모양으로 */
			transition: background-color 0.3s; /* 배경색 변경 시 애니메이션 적용 */
		}
	</style>
</head>
<body>
	<div class="container p-3"> 
		<h3>Prompt Test</h3>
		<div class="mb-3">
			<div id="tab-container">
				<div class="tab" onclick="openTab('gpt-3')">GPT-3.5 Turbo</div>
				<div class="tab" onclick="openTab('gpt-4')">GPT-4</div>
				<div class="tab" onclick="openTab('gpt-4-turbo')">GPT-4 Turbo</div>
				<div class="tab" onclick="openTab('gpt-4o')">GPT-4o</div>
				<div class="tab" onclick="openTab('gpt-4o-mini')">GPT-4o-mini</div>
			</div>
			<form id="apiForm" method="post"  action="javascript:void(0);">
				{% csrf_token %}
				<label for="common-prompt" class="form-label"><strong>Prompt: </strong></label> 
				<textarea class="form-control" type="textarea" id="prompt" name="prompt" rows="3"></textarea>
				<div id="result-container"></div> 
				<br>
				<div>
					<div id="gpt-3" class="content">
						<button id='gpt-3-button', class="btn btn-primary" type="submit">GPT-3.5 Turbo</button>
						<br>
						<br>
						<div class="mb-3"> 
							<label for="prompt" class="form-label"><strong>Response: </strong></label>  
							<div id="response-3" class="container border overflow-auto h-50"></div> 
							
						</div>
					</div>
					<div id="gpt-4" class="content">
						<button id='gpt-4-button', class="btn btn-primary" type="submit">GPT-4</button>
						<br>
						<br>
						<div class="mb-3"> 
							<label for="prompt" class="form-label"><strong>Response: </strong></label>  
							<div id="response-4" class="container border overflow-auto h-50"></div> 
						</div>
					</div>
					<div id="gpt-4-turbo" class="content">
						<button id='gpt-4-turbo-button', class="btn btn-primary" type="submit">GPT-4 Turbo</button>
						<br>
						<br>
						<div class="mb-3"> 
							<label for="prompt" class="form-label"><strong>Response: </strong></label>  
							<div id="response-4-turbo" class="container border overflow-auto h-50"></div> 
						</div>
					</div>
					<div id="gpt-4o" class="content">
						<button id='gpt-4o-button', class="btn btn-primary" type="submit">GPT-4o</button> 
						<br>
						<br>
						<div class="mb-3"> 
							<label for="prompt" class="form-label"><strong>Response: </strong></label>  
							<div id="response-4o" class="container border overflow-auto h-50"></div> 
						</div> 
					</div>
					<div id="gpt-4o-mini" class="content">
						<button id='gpt-4o-mini-button', class="btn btn-primary" type="submit">GPT-4o-mini</button> 
						<br>
						<br>
						<div class="mb-3"> 
							<label for="prompt" class="form-label"><strong>Response: </strong></label>  
							<div id="response-4o-mini" class="container border overflow-auto h-50"></div> 
						</div> 
					</div>
				</div>
			</form>
			<div id="gpt-3-sub" class="sub-content">
				<button id="export-3">GPT-3.5 Turbo 대화 내용 엑셀 다운로드</button>
				<button id="autoTest-3">GPT-3.5 Turbo 문서 자동 테스트</button>
			</div>
			<div id="gpt-4-sub" class="sub-content">
				<button id="export-4">GPT-4 대화 내용 엑셀 다운로드</button>
				<button id="autoTest-4">GPT-4 문서 자동 테스트</button>
			</div>
			<div id="gpt-4-turbo-sub" class="sub-content">
				<button id="export-4-turbo">GPT-4 Turbo 대화 내용 엑셀 다운로드</button>
				<button id="autoTest-4-turbo">GPT-4 Turbo 문서 자동 테스트</button>
			</div>
			<div id="gpt-4o-sub" class="sub-content">
				<button id="export-4o">GPT-4o 대화 내용 엑셀 다운로드</button>
				<button id="autoTest-4o">GPT-4o 문서 자동 테스트</button>
			</div>
			<div id="gpt-4o-mini-sub" class="sub-content">
				<button id="export-4o-mini">GPT-4o-mini 대화 내용 엑셀 다운로드</button>
				<button id="autoTest-4o-mini">GPT-4o-mini 문서 자동 테스트</button>
			</div>
		</div> 
	</div>
	<!-- script -->
	<script>
	// Tab 기능
	function openTab(tabName) {
		var i, content, tabs, subContent;
		content = document.getElementsByClassName("content");
		tabs = document.getElementsByClassName("tab");
		subContent = document.getElementsByClassName("sub-content")

		// 모든 컨텐츠와 탭의 활성화 상태를 초기화
		for (i = 0; i < content.length; i++) {
			content[i].style.display = "none";
			content[i].classList.remove("active");
		}
		for (i = 0; i < subContent.length; i++) {
			subContent[i].style.display = "none";
			subContent[i].classList.remove("active");
		}
		for (i = 0; i < tabs.length; i++) {
			tabs[i].classList.remove("active");
			tabs[i].style.backgroundColor = "#fff";  // 모든 탭의 배경색을 흰색으로 설정
		}

		// 클릭된 탭과 관련된 컨텐츠 활성화
		document.getElementById(tabName).style.display = "block";
		document.getElementById(tabName).classList.add("active");
		document.querySelector("[onclick=\"openTab('" + tabName + "')\"]").classList.add("active");
		document.querySelector("[onclick=\"openTab('" + tabName + "')\"]").style.backgroundColor = "#f0f0f0";  // 활성 탭의 배경색 변경
	
		// 'sub-content' 활성화
		if(document.getElementById(tabName + '-sub')) { // 존재 확인
        document.getElementById(tabName + '-sub').style.display = "block";
        document.getElementById(tabName + '-sub').classList.add("active");
    	}
	}
	openTab('gpt-3');  // 초기 탭 설정
	var dialogues3t = [];
	var dialogues4 = [];
	var dialogues4t = [];
	var dialogues4o = [];
	var dialogues4om = [];

	// input 창에 입력 후 enter or button 클릭 시 입력 한 값과 결과 보여주기기
	$(document).ready(function() { 
		// handlePrompt 함수를 전역으로 이동
		function handlePrompt(responseContainerId, urls, dialogueList) {
			var prompt = $('#prompt').val(); 
			var dateTime = new Date(); 
			var time = dateTime.toLocaleTimeString();
			$(responseContainerId).append('<p>('+ time + ') 사용자: ' + prompt + '</p>'); 
			$('#prompt').val('');  // 입력 필드 초기화
			$.ajax({ 
				url: urls, 
				type: 'POST', 
				data: {prompt: prompt}, 
				dataType: 'json', 
				success: function(data) { 
					$(responseContainerId).append('<p>('+ time + ') 로봇: ' + data.response + '</p>');
					dialogueList.push({Time: time, User: prompt, Robot: data.response});
				}
			});
		}

		function getActiveTabName() {
			var activeTab = document.querySelector('.tab.active');
			return activeTab ? activeTab.textContent : 'No active tab found';
		}

		$('#prompt').keypress(function(event) { 
			if (event.keyCode === 13 && !event.shiftKey) { 
				event.preventDefault();
				$('form').submit();
			} 
		});

		$('form').on('submit', function(event) { 
			event.preventDefault();
			var csrftoken = Cookies.get('csrftoken');  // CSRF 토큰 가져오기
			$.ajaxSetup({ 
				headers: { 'X-CSRFToken': csrftoken }  // CSRF 토큰 설정
			});

			// 클릭된 버튼이나 활성 탭에 따라 적절한 API 호출
			var activeTabText = $('.tab.active').text();
			var activeButtonId = $(document.activeElement).attr('id');

			var tabConfig = {
				'GPT-3.5 Turbo': { responseId: '#response-3', apiEndpoint: '/api/gpt-3-turbo', dialoguesVar: dialogues3t },
				'GPT-4': { responseId: '#response-4', apiEndpoint: '/api/gpt-4', dialoguesVar: dialogues4 },
				'GPT-4 Turbo': { responseId: '#response-4-turbo', apiEndpoint: '/api/gpt-4-turbo', dialoguesVar: dialogues4t },
				'GPT-4o': { responseId: '#response-4o', apiEndpoint: '/api/gpt-4o', dialoguesVar: dialogues4o },
				'GPT-4o-mini': { responseId: '#response-4o-mini', apiEndpoint: '/api/gpt-4o-mini', dialoguesVar: dialogues4om }
			};

			if (tabConfig[activeTabText]) {
				var config = tabConfig[activeTabText];
				handlePrompt(config.responseId, config.apiEndpoint, config.dialoguesVar);
			}
		});
	});

	// 함수를 통해 Excel 파일 생성 과정을 공통화
	function exportToExcel(data, sheetName) {
		var ws = XLSX.utils.json_to_sheet(data);
		var wb = XLSX.utils.book_new();
		XLSX.utils.book_append_sheet(wb, ws, sheetName);
		XLSX.writeFile(wb, sheetName + '.xlsx');
	}

	function exportToExcelSheet(lists, sheetNameList, fileName) {
		if (!Array.isArray(lists) || !Array.isArray(sheetNameList)) {
			console.error("Invalid arguments: Both lists and sheetNameList should be arrays.");
			return;
		}

		if (lists.length !== sheetNameList.length) {
			console.error("Mismatched lengths: lists and sheetNameList must have the same length.");
			return;
		}

		var wb = XLSX.utils.book_new(); // 새 워크북 생성

		for (let i = 0; i < sheetNameList.length; i++) {
			var ws = XLSX.utils.json_to_sheet(lists[i]); // 리스트 데이터를 시트로 변환
			XLSX.utils.book_append_sheet(wb, ws, sheetNameList[i]); // 워크북에 시트 추가
		}

		XLSX.writeFile(wb, fileName + '.xlsx'); // 파일 저장 (하나의 파일로)
	}

	// 각 버튼 클릭 시 해당 데이터를 사용하여 Excel 파일 생성
	$(document).on('click', '#export-3', function() {
		exportToExcel(dialogues3t, "gpt-3-turbo");
	});

	$(document).on('click', '#export-4', function() {
		exportToExcel(dialogues4, "gpt-4");
	});

	$(document).on('click', '#export-4-turbo', function() {
		exportToExcel(dialogues4t, "gpt-4-turbo");
	});

	$(document).on('click', '#export-4o', function() {
		exportToExcel(dialogues4o, "gpt-4o");
	});

	$(document).on('click', '#export-4o-mini', function() {
		exportToExcel(dialogues4om, "gpt-4o-mini");
	});

	$(document).ready(function () {
		function handleAutoTest(buttonId, responseId, excelFileName) {
			$(document).on('click', buttonId, function () {
				// 대화 내용 초기화
				if (buttonId === '#autoTest-3') {
					dialogues3t = [];
				} else if (buttonId === '#autoTest-4') {
					dialogues4 = [];
				} else if (buttonId === '#autoTest-4-turbo') {
					dialogues4t = [];
				} else if (buttonId === '#autoTest-4o') {
					dialogues4o = [];
				} else if (buttonId === '#autoTest-4o-mini') {
					dialogues4om = [];
				}
				// AJAX 요청
				let allDataForExcel = [];
				$.ajax({
					url: '/api/read-txt-files', // Django URL 패턴에 매칭되는 URL
					type: 'GET', // HTTP 메소드
					dataType: 'json', // 데이터 타입
					success: function (data) {
						if (Array.isArray(data.response) && data.response.length > 0) {
							console.log('Data received:', data.response);
							console.log('Files', data.files);

							// 각 내부 리스트 처리
							processNestedLists(data.response, data.files, buttonId);
						} else {
							console.log('No data found or response is not an array');
						}
					},
					error: function (error) {
						console.log('Error:', error);
					}
				});

				// 내부 리스트를 처리하는 함수
				function processNestedLists(nestedLists, files, buttonId) {
					let outerIndex = 0;

					function processOuterList() {
						if (outerIndex < nestedLists.length) {
							const currentList = nestedLists[outerIndex];
							if (Array.isArray(currentList)) {
								console.log(`Processing List ${outerIndex + 1}/${nestedLists.length}:`, currentList);

								// 결과 표시 영역 초기화
								$(responseId).empty();
								// 현재 리스트 값을 표시
								// currentList.forEach(item => {
								// 	$('#response-3').append(`<p>${item}</p>`);
								// });

								// 내부 리스트 값 처리
								processSequentially(currentList, function () {
									outerIndex++;
									processOuterList(); // 다음 리스트로 이동
								});
							} else {
								console.log(`List at index ${outerIndex} is not an array`);
								outerIndex++;
								processOuterList(); // 다음 리스트로 이동
							}
						} else {
							console.log('All lists processed.');

							exportToExcelSheet(allDataForExcel, files, excelFileName);
						}	
					}

					// 첫 번째 리스트 처리 시작
					processOuterList();
				}

				// 순차적으로 데이터를 처리하는 함수
				function processSequentially(list, callback) {
					let index = 0;
					function processNext() {
						if (index < list.length) {
							const currentItem = list[index];
							console.log(`Processing Item ${index + 1}/${list.length}:`, currentItem);

							// 값을 입력 필드에 설정
							$('#prompt').val(currentItem);

							// "엔터" 이벤트 시뮬레이션
							$('#prompt').trigger($.Event('keypress', { keyCode: 13 }));

							// 다음 아이템으로 이동 (3초 대기 후 처리)
							index++; // 다음 아이템으로 이동
							setTimeout(processNext, 3000); // 3초 대기 후 재귀 호출
						} else {
							console.log('Current list processed.');
							// 대화 내용을 엑셀 데이터에 추가
							if (buttonId === '#autoTest-3') {
								allDataForExcel.push(dialogues3t);
								// 대화 내용 초기화
								dialogues3t = [];
							} else if (buttonId === '#autoTest-4') {
								allDataForExcel.push(dialogues4);
								dialogues4 = [];
							} else if (buttonId === '#autoTest-4-turbo') {
								allDataForExcel.push(dialogues4t);
								dialogues4t	= [];
							} else if (buttonId === '#autoTest-4o') {
								allDataForExcel.push(dialogues4o);
								dialogues4o = [];
							} else if (buttonId === '#autoTest-4o-mini') {
								allDataForExcel.push(dialogues4om);
								dialogues4om = [];
							}
							if (typeof callback === 'function') callback(); // 리스트 처리 완료 후 콜백 호출
						}
					}
					// 첫 번째 아이템 처리 시작
					setTimeout(processNext, 3000);
				}
			});
		}
		// 테스트 자동화 버튼
		handleAutoTest('#autoTest-3', '#response-3', 'gpt-3-turbo');
		handleAutoTest('#autoTest-4', '#response-4', 'gpt-4');
		handleAutoTest('#autoTest-4-turbo', '#response-4-turbo', 'gpt-4-turbo');
		handleAutoTest('#autoTest-4o', '#response-4o', 'gpt-4o');
		handleAutoTest('#autoTest-4o-mini', '#response-4o-mini', 'gpt-4o-mini');
	});

	</script>

</body> 
</html>
